---
import type { Recommendation } from '@/types/recommendation';

interface Props {
	readonly recommendation: Pick<Recommendation, 'content'>;
}
---

<p class="relative whitespace-pre-line text-text-primary">
	{Astro.props.recommendation.content}
</p>
