---
import type { Recommendation } from '@/types/recommendation';

type Props = Pick<Recommendation, 'content'>;
---

<p class="relative whitespace-pre-line text-text-primary">
	{Astro.props.content}
</p>
