---
import { skills } from '@/data/skills';

import SkillsSectionItemsSkill from './skills-section-items-skill.astro';
---

<ul class="grid grid-cols-auto-13 gap-2.5">
	{
		skills.map(skill => (
			<li>
				<SkillsSectionItemsSkill skill={skill} />
			</li>
		))
	}
</ul>
