---
import HeroSectionIntroCta from './hero-section-intro-cta.astro';
import HeroSectionIntroHeader from './hero-section-intro-header.astro';
import HeroSectionIntroSocialMedia from './hero-section-intro-social-media.astro';
---

<div
	class="space-y-8 laptop:z-10 laptop:-order-1 laptop:w-91 laptop:shrink-0 laptop:space-y-10"
>
	<HeroSectionIntroHeader />
	<HeroSectionIntroSocialMedia />
	<HeroSectionIntroCta />
</div>
