---
import { Emoji, Heading } from '@/components/ui';
---

<header class="space-y-3 text-center laptop:text-left">
	<p class="text-text-primary">
		Cześć wszystkim tutaj <Emoji type="✋" />
	</p>
	<Heading size="h1">AdiPol Dev</Heading>
</header>
