---
import { Emoji, Heading } from '@/components/ui';
---

<header class="space-y-3 text-center laptop:text-left">
	<p class="text-text-primary">
		CzeÅ›Ä‡ wszystkim tutaj <Emoji type="âœ‹ðŸ»" />
	</p>
	<Heading size="h1">AdiPol Dev</Heading>
</header>
