---
import { SocialMedia } from '@/components/blocks';
import { Arrow } from '@/components/decorations';
import { Emoji } from '@/components/ui';
---

<div class="flex flex-col items-center gap-y-3 laptop:items-start">
	<div class="relative">
		<p class="text-text-neutral">
			Znajdziesz mnie tutaj <Emoji type="🤙" />
		</p>
		<div class="laptop:hidden">
			<Arrow
				color="primary"
				type="small-filled-1"
				class="-right-9 -bottom-9.5 rotate-150"
			/>
			<Arrow
				color="primary"
				mirrorImageX
				type="small-filled-1"
				class="-bottom-9.5 -left-9 -rotate-150"
			/>
		</div>
		<div class="hidden laptop:block">
			<Arrow
				color="primary"
				type="large-filled-1"
				class="top-full -right-12 rotate-158"
			/>
		</div>
	</div>
	<SocialMedia color="secondary" />
</div>
