---
import PostsSectionNoDataCard from './posts-section-no-data-card.astro';
import PostsSectionPostsList from './posts-section-posts-list.astro';
import PostsSectionTitle from './posts-section-title.astro';
---

<section class="flex flex-col gap-y-6 laptop:flex-1">
	<PostsSectionTitle />
	<PostsSectionNoDataCard />
	<PostsSectionPostsList />
</section>
