---
import { PostCard } from '@/components/blocks';
import { getPosts } from '@/lib/posts';

import { POSTS_SECTION_POSTS_LIST_ID } from './posts-section.constants';

const posts = await getPosts();
---

<ul id={POSTS_SECTION_POSTS_LIST_ID} class="grid gap-4 laptop:grid-cols-2">
	{
		posts.map(post => (
			<li class="translate-y-2 opacity-0 blur-xs">
				<PostCard
					post={post}
					thumbnailProps={{ sizes: '(min-width: 1024px) 378px, 100vw' }}
					withTags
				/>
			</li>
		))
	}
</ul>

<script>
	import { animate, createSlideInAnimation, inView } from '@/lib/animations';

	import { POSTS_SECTION_POSTS_LIST_ID } from './posts-section.constants';

	inView(
		`#${POSTS_SECTION_POSTS_LIST_ID} > li`,
		element => {
			animate(...createSlideInAnimation(element, { duration: 0.7 }));
		},
		{ margin: -100 },
	);
</script>
