---
import { PostCard } from '@/components/blocks';
import { Heading } from '@/components/ui';
import { getPosts } from '@/lib/posts';

import { POSTS_SECTION_LIST_ID } from './posts-section.constants';

const posts = await getPosts();
---

<section class="space-y-6 laptop:flex-1">
	<Heading size="h2" shadow="Posty">Posty</Heading>
	<ul id={POSTS_SECTION_LIST_ID} class="grid gap-4 laptop:grid-cols-2">
		{
			posts.map(post => (
				<li>
					<PostCard
						post={post}
						thumbnailProps={{ sizes: '(min-width: 1024px) 378px, 100vw' }}
					/>
				</li>
			))
		}
	</ul>
</section>
