---
import { Nickname, Scribble, WavyLine } from '@/components/decorations';

import { DECORATIONS_SCRIBBLE_DECORATION_ID } from './decorations.constants';
---

<div class="relative -mx-4">
	<div class="absolute inset-x-0 top-3 overflow-hidden tablet:top-8">
		<Nickname class="-ml-20 opacity-10" />
	</div>
	<div
		class="absolute inset-x-0 top-10 flex justify-center overflow-hidden tablet:top-16 tablet:right-0 tablet:left-auto"
	>
		<WavyLine />
	</div>
	<Scribble
		id={DECORATIONS_SCRIBBLE_DECORATION_ID}
		class="hidden laptop:absolute laptop:top-42 laptop:left-1/2 laptop:inline laptop:-translate-x-1/2"
	/>
</div>

<script>
	import { animate, createDrawingAnimation, inView } from '@/lib/animations';

	import { DECORATIONS_SCRIBBLE_DECORATION_ID } from './decorations.constants';

	inView(
		`#${DECORATIONS_SCRIBBLE_DECORATION_ID} > path`,
		element => animate(...createDrawingAnimation(element, { duration: 1.5 })),
		{ margin: -270 },
	);
</script>
