---
import { Lines, Waves } from '@/components/decorations';

const WRAPPER_STYLES =
	'pointer-events-none absolute top-0 left-0 flex w-full justify-center overflow-hidden select-none';
---

<div class={WRAPPER_STYLES}>
	<Lines />
</div>

<div class={WRAPPER_STYLES}>
	<Waves />
</div>
