---
import MainLayoutContentWrapper from './main-layout-content-wrapper.astro';
import MainLayoutDecorations from './main-layout-decorations.astro';
import MainLayoutFooter from './main-layout-footer/main-layout-footer.astro';
import MainLayoutHeader from './main-layout-header/main-layout-header.astro';

import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource-variable/fira-code';

import '@/assets/styles/global.css';
---

<html lang="pl-PL">
	<head>
		<title>AdiPol Dev</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="AdiPol.dev – Zanurz się w świat frontendu! Przestrzeń dla pasjonatów frontendu szukających inspiracji, wskazówek i wiedzy z zakresu tworzenia nowoczesnych aplikacji webowych."
		/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body class="relative bg-surface-tertiary px-4 pt-4 laptop:pt-10">
		<MainLayoutDecorations />
		<MainLayoutHeader />
		<MainLayoutContentWrapper>
			<slot />
		</MainLayoutContentWrapper>
		<MainLayoutFooter />
	</body>
</html>
