---
import MainLayoutContentWrapper from './main-layout-content-wrapper.astro';
import MainLayoutDecorations from './main-layout-decorations.astro';
import MainLayoutFooter from './main-layout-footer/main-layout-footer.astro';
import MainLayoutHeadTags from './main-layout-head-tags.astro';
import MainLayoutHeader from './main-layout-header/main-layout-header.astro';

import type { HeadOptions } from './main-layout.types';

import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource-variable/fira-code';

import '@/assets/styles/global.css';

interface Props {
	readonly headOptions?: HeadOptions;
	readonly withBottomWave?: boolean;
}

const { headOptions, withBottomWave = true } = Astro.props;
---

<html lang="pl-PL">
	<head>
		<MainLayoutHeadTags headOptions={headOptions} />
	</head>
	<body class="relative bg-surface-tertiary px-4 pt-4 laptop:pt-10">
		<MainLayoutDecorations withBottomWave={withBottomWave} />
		<MainLayoutHeader />
		<MainLayoutContentWrapper>
			<slot />
		</MainLayoutContentWrapper>
		<MainLayoutFooter />
	</body>
</html>
