---
import { Lines, Wave, Waves } from '@/components/decorations';

const BASE_WRAPPER_STYLES =
	'pointer-events-none absolute left-0 flex w-full justify-center overflow-hidden select-none';
---

<div class:list={[BASE_WRAPPER_STYLES, 'top-0']}>
	<Lines class="w-full max-w-340 min-w-200" />
</div>

<div class:list={[BASE_WRAPPER_STYLES, 'top-0']}>
	<Waves class="w-full min-w-400" />
</div>

<div class:list={[BASE_WRAPPER_STYLES, 'top-3/5']}>
	<Wave class="w-full min-w-450" />
</div>
