---
import { Lines, Waves } from '@/components/decorations';

const WRAPPER_STYLES =
	'pointer-events-none absolute top-0 left-0 flex w-full justify-center overflow-hidden select-none';
---

<div class={WRAPPER_STYLES}>
	<Lines class="max-w-340 min-w-200" />
</div>

<div class={WRAPPER_STYLES}>
	<Waves class="min-w-400" />
</div>
