---
import { Nickname } from '@/components/decorations';
---

<div
	class="hidden laptop:absolute laptop:-right-4 laptop:bottom-0 laptop:block laptop:translate-y-1/2 laptop:overflow-hidden"
>
	<Nickname class="-mr-20 opacity-10" />
</div>

<div
	class="hidden laptop:absolute laptop:top-full laptop:-left-8 laptop:block laptop:h-0.75 laptop:w-85 laptop:top-dashed-border-border-primary"
>
</div>
