---
import HeroSectionAboutMe from './hero-section-about-me.astro';
import HeroSectionAvatar from './hero-section-avatar/hero-section-avatar.astro';
import HeroSectionIntro from './hero-section-intro/hero-section-intro.astro';
---

<section
	class="mt-14 laptop:-mt-21 laptop:flex laptop:h-screen laptop:min-h-180 laptop:items-center"
>
	<HeroSectionAvatar />
	<HeroSectionIntro />
	<HeroSectionAboutMe />
</section>
