---
import { Container } from '@/components/ui';

import HeroSectionAboutMe from './hero-section-about-me.astro';
import HeroSectionAvatar from './hero-section-avatar/hero-section-avatar.astro';
import HeroSectionDecorations from './hero-section-decorations.astro';
import HeroSectionIntro from './hero-section-intro/hero-section-intro.astro';
---

<section class="laptop:relative laptop:-mt-39 laptop:h-screen laptop:min-h-180">
	<Container class="laptop:flex laptop:h-full laptop:items-center">
		<HeroSectionAvatar />
		<HeroSectionIntro />
		<HeroSectionAboutMe />
	</Container>
	<HeroSectionDecorations />
</section>
