---
import SkillsSectionItems from './skills-section-items/skills-section-items.astro';
import SkillsSectionTitle from './skills-section-title.astro';
---

<section class="space-y-7 laptop:space-y-9">
	<SkillsSectionTitle />
	<SkillsSectionItems />
</section>
