---
import { Emoji, Heading } from '@/components/ui';
import { skills } from '@/data/skills';

import SkillsSectionSkill from './skills-section-skill.astro';
---

<section class="space-y-7 laptop:space-y-9">
	<Heading size="h2" shadow="Moje umiejÄ™tnoÅ›ci">
		Moje umiejÄ™tnoÅ›ci <Emoji type="ðŸ¤™ðŸ»" />
	</Heading>
	<ul class="grid grid-cols-auto-13 gap-2.5">
		{
			skills.map(skill => (
				<li>
					<SkillsSectionSkill skill={skill} />
				</li>
			))
		}
	</ul>
</section>
