---
import RecommendationsSectionItems from './recommendations-section-items/recommendations-section-items.astro';
import RecommendationsSectionTitle from './recommendations-section-title.astro';
---

<section class="space-y-7 laptop:flex-1 laptop:space-y-9">
	<RecommendationsSectionTitle />
	<RecommendationsSectionItems />
</section>
