---
import { Emoji, Heading } from '@/components/ui';
import { recommendations } from '@/data/recommendations';

import RecommendationsSectionRecommendation from './recommendations-section-recommendation/recommendations-section-recommendation.astro';
---

<section class="space-y-7 laptop:flex-1 laptop:space-y-9">
	<Heading size="h2" shadow="Moje rekomendacje">
		Moje rekomendacje <Emoji type="🎉" />
	</Heading>
	<ol class="space-y-4">
		{
			recommendations.map(recommendation => (
				<li>
					<RecommendationsSectionRecommendation
						recommendation={recommendation}
					/>
				</li>
			))
		}
	</ol>
</section>
