---
import ExperienceSectionTimeline from './experience-section-timeline/experience-section-timeline.astro';
import ExperienceSectionTitle from './experience-section-title.astro';
---

<section class="space-y-7 laptop:space-y-9">
	<ExperienceSectionTitle />
	<ExperienceSectionTimeline />
</section>
