---
import { Image } from 'astro:assets';

import waving from '@/assets/images/memojis/waving.png';
import { Emoji, Heading } from '@/components/ui';

import { PAGE_HEADER_ID } from './page-header.constants';

interface Props {
	readonly title: string;
}

const { title } = Astro.props;

const hasAdditionalSection = Astro.slots.has('additionalSection');
---

<header
	id={PAGE_HEADER_ID}
	class="relative flex flex-col gap-y-10 dashed-border-b dashed-border-border-secondary pb-10 laptop:flex-row laptop:items-center laptop:justify-between laptop:pb-0"
>
	<div class="laptop:flex laptop:items-center laptop:gap-x-10">
		<div
			class="absolute top-1/2 -right-4 -translate-y-1/2 overflow-hidden pt-2.5 pb-4.5 laptop:static laptop:translate-y-0 laptop:p-0"
		>
			<Image
				alt="MachajÄ…cy czÅ‚owiek"
				layout="fixed"
				src={waving}
				width={100}
				height={101}
				class="relative -right-8 translate-x-1/2 -rotate-60 opacity-0 blur-xs laptop:static laptop:translate-x-0 laptop:translate-y-1/2 laptop:rotate-0"
			/>
		</div>
		<div class="space-y-0.5">
			<p class="text-text-secondary">
				CzeÅ›Ä‡ wszystkim tutaj <Emoji type="âœ‹ðŸ»" />
			</p>
			<Heading as="h1" size="h2">
				{title}
			</Heading>
		</div>
	</div>
	{hasAdditionalSection && <slot name="additionalSection" />}
</header>

<script>
	import { animate, createSlideInAnimation } from '@/lib/animations';

	import { PAGE_HEADER_ID } from './page-header.constants';

	animate(
		...createSlideInAnimation(`#${PAGE_HEADER_ID} img`, { duration: 0.5 }),
	);
</script>
