---
import {
	NAVIGATION_ID,
	TOGGLE_BUTTON_ID,
} from './main-layout-header.constants';

const LINE_BASE_STYLES = 'h-0.75 rounded-full bg-navy-50 transition-all';
---

<button
	aria-controls={NAVIGATION_ID}
	id={TOGGLE_BUTTON_ID}
	type="button"
	class="group flex size-8 cursor-pointer flex-col items-end justify-center gap-y-2 laptop:hidden"
>
	<div
		class:list={[
			LINE_BASE_STYLES,
			'w-2/3 group-aria-expanded:w-full group-aria-expanded:translate-y-1.25 group-aria-expanded:-rotate-45',
		]}
	>
	</div>
	<div
		class:list={[
			LINE_BASE_STYLES,
			'w-full group-aria-expanded:-translate-y-1.5 group-aria-expanded:rotate-45',
		]}
	>
	</div>
</button>
