---
import HeroSectionAvatarDiscoverMore from './hero-section-avatar-discover-more.astro';
import HeroSectionAvatarImage from './hero-section-avatar-image.astro';
---

<div
	class="-mx-4 overflow-hidden pb-8 laptop:relative laptop:mx-auto laptop:overflow-visible laptop:px-2.5 laptop:pb-0"
>
	<HeroSectionAvatarImage />
	<HeroSectionAvatarDiscoverMore />
</div>
