---
import { ArrowDown } from '@/components/icons';
import { Emoji } from '@/components/ui';
---

<div
	class="hidden laptop:absolute laptop:-bottom-50 laptop:left-0 laptop:block laptop:w-full laptop:space-y-6 laptop:text-center laptop:text-text-neutral"
>
	<p class="text-lg text-nowrap">
		<Emoji type="💎" /> Odkryj więcej na dole <Emoji type="💎" />
	</p>
	<button
		aria-label="Odkryj więcej"
		type="button"
		class="animate-bounce cursor-pointer text-6.5"
	>
		<ArrowDown aria-hidden />
	</button>
</div>
