---
import { Timeline } from '@/components/ui';
import { experiences } from '@/data/experiences';

import ExperienceSectionTimelineItem from './experience-section-timeline-item.astro';
---

<div class="laptop:sticky laptop:top-4">
	<Timeline>
		{
			experiences.map(experience => (
				<ExperienceSectionTimelineItem experience={experience} />
			))
		}
	</Timeline>
</div>
