---
const year = new Date().getFullYear();
---

<div class="text-center laptop:text-left">
	<p class="text-lg text-text-neutral">Copyright &copy; {year} Adrian</p>
	<p class="text-text-tertiary">Wszelkie prawa zastrzeżone.</p>
</div>
