---
import PoweredByVercel from '@/assets/svgs/powered-by-vercel.svg';

const commitRef = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_REF;
const commitSha = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA;
---

<div
	class="flex flex-col items-center gap-y-3 laptop:relative laptop:items-end"
>
	{
		commitRef && commitSha && (
			<p class="text-center break-all text-text-tertiary">
				{commitRef} | {commitSha}
			</p>
		)
	}
	<a href="https://vercel.com/" target="_blank">
		<PoweredByVercel aria-label="Obsługiwane przez Vercel" />
	</a>
</div>
