---
import { SocialMedia } from '@/components/common';
import { Avatar } from '@/components/ui';
---

<div class="laptop:flex laptop:items-center laptop:gap-x-8">
	<div class="hidden laptop:block">
		<Avatar />
	</div>
	<div
		class="hidden laptop:block laptop:h-8 laptop:w-0.75 laptop:bg-border-primary/50"
	>
	</div>
	<SocialMedia color="tertiary" />
</div>
