---
import { Text } from '@/components/ui';

const year = new Date().getFullYear();
---

<div class="text-center laptop:text-left">
	<Text color="neutral" size="lg">Copyright &copy; {year} Adrian</Text>
	<Text color="tertiary">Wszelkie prawa zastrzeżone.</Text>
</div>
