---
import PostViewSourcesList from './post-view-sources-list.astro';
import PostViewSourcesTitle from './post-view-sources-title.astro';

import type { Post } from '@/types/post';

interface Props {
	readonly post: Pick<Post, 'sources'>;
}

const {
	post: { sources },
} = Astro.props;
---

<section class="space-y-5">
	<PostViewSourcesTitle />
	<PostViewSourcesList sources={sources} />
</section>
