---
import type { Post } from '@/types/post';

type Props = Pick<Post, 'sources'>;

const { sources } = Astro.props;
---

<ol class="list-decimal pl-5">
	{
		sources.map(({ title, url }) => (
			<li class="w-fit text-link-primary underline transition-colors hover:text-link-active laptop:text-lg">
				<a href={url} target="_blank">
					{title}
				</a>
			</li>
		))
	}
</ol>
