---
import HeroSectionImageDiscoverMore from './hero-section-image-discover-more.astro';
import HeroSectionImageMemoji from './hero-section-image-memoji.astro';
---

<div
	class="-mx-4 overflow-hidden pt-1 pb-8 laptop:relative laptop:mx-auto laptop:overflow-visible laptop:px-2.5 laptop:py-0"
>
	<HeroSectionImageMemoji />
	<HeroSectionImageDiscoverMore />
</div>
