---
import { Image } from 'astro:assets';

import smiling from '@/assets/images/memojis/smiling.png';
import { Arrow } from '@/components/decorations';
import { Emoji, Heading } from '@/components/ui';

import { ABOUT_ME_SECTION_HEADER_INTRODUCTION_ID } from './about-me-section-header.constants';
---

<div
	id={ABOUT_ME_SECTION_HEADER_INTRODUCTION_ID}
	class="flex flex-col items-center gap-y-inherit laptop:relative laptop:flex-row laptop:gap-x-12"
>
	<Image
		alt="Adrian Polak"
		layout="fixed"
		src={smiling}
		width={100}
		height={120}
	/>
	<div
		class="space-y-1.5 text-center laptop:max-w-76 laptop:space-y-2 laptop:text-start"
	>
		<Heading as="h1" size="h2">O mnie <Emoji type="💻" /></Heading>
		<p class="text-text-secondary">
			Chcesz dowiedzieć się o mnie więcej? Jesteś we właściwym miejscu! <Emoji
				type="🎓"
			/>
		</p>
	</div>
	<Arrow
		color="primary"
		type="large-dashed-4"
		class="hidden laptop:-top-1 laptop:-right-34 laptop:inline laptop:-translate-x-4 laptop:rotate-16 laptop:opacity-0"
	/>
</div>

<script>
	import { animate, createSlideInAnimation } from '@/lib/animations';

	import { ABOUT_ME_SECTION_HEADER_INTRODUCTION_ID } from './about-me-section-header.constants';

	animate(
		...createSlideInAnimation(
			`#${ABOUT_ME_SECTION_HEADER_INTRODUCTION_ID} > svg`,
			{ delay: 0.4, duration: 0.5 },
		),
	);
</script>
