---
import { Button } from '@/components/ui';
---

<footer
	class="mt-6 flex flex-col items-center gap-y-5 laptop:mt-10 laptop:flex-row laptop:justify-between"
>
	<p class="max-w-121 text-center text-text-secondary laptop:text-start">
		Ej ty! To nie wszystkie posty na moim blogu. Są tu tylko
		<span class="text-text-neutral">3</span>
		z
		<span class="text-text-neutral">25</span>. Kliknij w przycisk po lewej
		stronie, aby zobaczyć wszystkie!
	</p>
	<Button color="brand" size="lg" variant="outline">
		Zobacz wszystkie posty
	</Button>
</footer>
