---
interface Props {
	readonly class?: string;
}
---

<span
	aria-hidden="true"
	class:list={[
		'text-8xl before:font-extrabold before:text-nowrap before:text-decoration-secondary before:uppercase before:content-["Dev_AdiPol"/""] before:word-spacing-15',
		Astro.props.class,
	]}
>
</span>
