@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant hover (&:hover);

@theme {
	--breakpoint-*: initial;
	--breakpoint-tablet: 40rem;
	--breakpoint-laptop: 64rem;
	--breakpoint-desktop: 80rem;

	--color-*: initial;
	--color-gray: #a7a7a7;
	--color-red: #e14343;
	--color-indigo-primary: #8781ff;
	--color-indigo-secondary: #4f46e5;
	--color-navy-50: #f5f7fa;
	--color-navy-100: #cedce9;
	--color-navy-200: #a3bed6;
	--color-navy-300: #729cbe;
	--color-navy-400: #5283aa;
	--color-navy-500: #3e668b;
	--color-navy-600: #335271;
	--color-navy-700: #2d475f;
	--color-navy-800: #16212c;
	--color-navy-900: #111821;
	--color-navy-950: #0e141b;

	--container-4xl: 60rem;

	--default-transition-duration: 200ms;

	--font-mono: 'Fira Code Variable', monospace;
	--font-sans: 'Poppins', sans-serif;
}

@theme inline {
	--color-brand-primary: var(--color-indigo-primary);
	--color-brand-secondary: var(--color-indigo-secondary);

	--color-border-primary: var(--color-navy-700);
	--color-border-secondary: var(--color-navy-800);

	--color-decoration-primary: var(--color-navy-200);
	--color-decoration-secondary: var(--color-navy-700);
	--color-decoration-tertiary: var(--color-navy-900);

	--color-icon-danger: var(--color-red);
	--color-icon-primary: var(--color-navy-300);
	--color-icon-secondary: var(--color-navy-400);
	--color-icon-tertiary: var(--color-navy-600);

	--color-heading-primary: var(--color-navy-50);
	--color-heading-secondary: var(--color-navy-300);

	--color-text-brand: var(--color-brand-primary);
	--color-text-neutral: var(--color-navy-50);
	--color-text-placeholder: var(--color-gray);
	--color-text-primary: var(--color-navy-300);
	--color-text-secondary: var(--color-navy-400);
	--color-text-tertiary: var(--color-navy-600);

	--color-link-active: var(--color-navy-50);
	--color-link-neutral: var(--color-navy-50);
	--color-link-primary: var(--color-navy-200);

	--color-surface-primary: var(--color-navy-800);
	--color-surface-secondary: var(--color-navy-900);
	--color-surface-tertiary: var(--color-navy-950);

	--gap-inherit: inherit;

	--spacing-text: 1em;
}

@utility grid-cols-auto-* {
	grid-template-columns: repeat(
		auto-fill,
		minmax(calc(var(--spacing) * --value(number)), 1fr)
	);
}

@utility tab-* {
	tab-size: --value(number);
}

@utility text-* {
	font-size: calc(var(--spacing) * --value(number));
}

@utility word-spacing-* {
	word-spacing: calc(var(--spacing) * --value(number));
}

@utility mirror-image-x {
	transform: scaleX(-1);
}

@utility paper-outline-border-* {
	background: --value(--color- *);
	mask-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23333' stroke-width='4' stroke-dasharray='20%2c 20' stroke-dashoffset='16' stroke-linecap='square'/%3e%3c/svg%3e");
}

@utility dashed-border-* {
	background-image: repeating-linear-gradient(
		90deg,
		--value(--color- *),
		--value(--color- *) 1.875rem,
		transparent 1.875rem,
		transparent 3.75rem
	);
	background-origin: border-box;
	background-repeat: repeat-x;
	background-size: 100% 0.1875rem;
	border-color: transparent;
}

@utility dashed-border-t {
	background-position: left top;
	border-top-width: 0.1875rem;
}

@utility dashed-border-b {
	background-position: left bottom;
	border-bottom-width: 0.1875rem;
}
