---
import { recommendations } from '@/data/recommendations';

import RecommendationsSectionItemsRecommendation from './recommendations-section-items-recommendation/recommendations-section-items-recommendation.astro';
---

<ol class="space-y-4">
	{
		recommendations.map(recommendation => (
			<li>
				<RecommendationsSectionItemsRecommendation
					recommendation={recommendation}
				/>
			</li>
		))
	}
</ol>
