---
import AboutMeSectionDescription from './about-me-section-description.astro';
import AboutMeSectionDivider from './about-me-section-divider.astro';
import AboutMeSectionHeader from './about-me-section-header.astro';
import AboutMeSectionStatistics from './about-me-section-statistics.astro';
---

<section class="flex flex-col gap-y-8">
	<div
		class="flex flex-col items-center gap-y-inherit laptop:flex-row laptop:justify-between"
	>
		<AboutMeSectionHeader />
		<AboutMeSectionStatistics />
	</div>
	<AboutMeSectionDivider />
	<AboutMeSectionDescription />
</section>
