---
import AboutMeSectionDescription from './about-me-section-description.astro';
import AboutMeSectionDivider from './about-me-section-divider.astro';
import AboutMeSectionHeader from './about-me-section-header/about-me-section-header.astro';
---

<section class="flex flex-col gap-y-8">
	<AboutMeSectionHeader />
	<AboutMeSectionDivider />
	<AboutMeSectionDescription />
</section>
