---
import { PostCard } from '@/components/blocks';
import { getAllPosts } from '@/lib/posts';

import LatestPostsSectionListEmptySpaceCard from './latest-posts-section-list-empty-space-card.astro';

const LATEST_POSTS_LIMIT = 3;

const posts = await getAllPosts();

const latestPosts = posts.slice(0, LATEST_POSTS_LIMIT);
const emptySpaces = Array.from({
	length: LATEST_POSTS_LIMIT - latestPosts.length,
});
---

<ol
	class="mt-4 grid grid-cols-1 gap-4 tablet:mt-0 tablet:grid-cols-2 laptop:grid-cols-3"
>
	{
		latestPosts.map(post => (
			<li>
				<PostCard post={post} />
			</li>
		))
	}
	{
		emptySpaces.map(() => (
			<li class="hidden tablet:nth-2:block laptop:nth-3:block">
				<LatestPostsSectionListEmptySpaceCard />
			</li>
		))
	}
</ol>
