---
import { Heading, Paper } from '@/components/ui';
---

<Paper
	as="article"
	color="secondary"
	variant="outline"
	class="flex h-full min-h-120 flex-col items-center justify-center gap-y-2"
>
	<Heading as="h3" size="h4">Tutaj powinien być post</Heading>
	<p class="text-center text-text-primary">
		Tutaj jeszcze nic nie ma, ale za jakiś czas pojawi się tu nowy post.
	</p>
</Paper>
