---
import { Heading, Paper } from '@/components/ui';
---

<Paper
	as="article"
	color="secondary"
	variant="outline"
	class="flex h-full min-h-120 flex-col items-center justify-center gap-y-2"
>
	<Heading size="h3">Tutaj jest miejsce na post</Heading>
	<p class="text-center text-text-primary laptop:text-lg">
		Jeszcze nic tu nie ma, ale za jakiś czas pojawi się tu nowy post.
	</p>
</Paper>
