<li
	class:list={[
		'relative pl-12',
		'before:absolute before:top-1/2 before:left-0 before:size-4 before:-translate-y-1/2 before:rounded-full before:bg-border-primary',
		'after:absolute after:top-1/2 after:left-1.75 after:h-35 after:w-0.5 after:bg-border-primary last:after:hidden',
	]}
>
	<slot />
</li>
