---
import { Image } from 'astro:assets';

import coding from '@/assets/images/memojis/coding.png';
---

<div class="relative size-15 overflow-hidden rounded-full bg-navy-800">
	<Image
		alt="Adrian Polak"
		layout="fixed"
		src={coding}
		width={40}
		height={47}
		class="absolute bottom-0 left-1/2 -translate-x-1/2"
	/>
</div>
