---
import { cva } from 'cva';

import type { VariantProps } from 'cva';

const link = cva({
	base: 'transition-colors',
	variants: {
		color: {
			active: 'text-link-active',
			primary: 'text-link-primary hover:text-link-active',
		},
		weight: {
			normal: 'font-normal',
			medium: 'font-medium',
			semibold: 'font-semibold',
			bold: 'font-bold',
			extrabold: 'font-extrabold',
		},
	},
	defaultVariants: {
		color: 'primary',
		weight: 'normal',
	},
});

interface Props extends VariantProps<typeof link> {
	readonly href: string;
}

const { href, ...props } = Astro.props;
---

<a href={href} class={link(props)}><slot /></a>
